<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A PROPOS</div>
              <p>Salut, Je suis <strong>Samuel Mandeng</strong></p>


              <p>
                Jeune informaticien dynamique et autonome  je suis issue d’une formation d’ingénieur en informatique et j’ai à mon actif des stages et un ensemble de projets qui m’ont permis d’acquérir de solides compétences techniques et relationnelles.</p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">27 Janvier 1992</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">manduel21@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+33 783189171</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Adresse:</strong>
                </div>
                <div class="col-sm-8">31100,TOULOUSE
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langue:</strong>
                </div>
                <div class="col-sm-8">Anglais,Francais,Espagnol</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>