<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Formation</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2019</p>
              <div class="h5">3IL</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Institut d’Ingénierie d’Informatique de Limoges</div>
               <h4 class="category">Cycle ingenieur
               </h4>
               <ul>
                <li> Réseau  </li>
                    <li>Developpement mobile</li>
                 <li>Developpement Web</li>
                 <li>Conception et developpement de Base de Donées</li>
                 <li>Conception et developpement des systemes d'information</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2016</p>
              <div class="h5">3IL</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Institut d’Ingénierie d’Informatique de Limoges</div>
               <h4 class="category">Classes préparatoires
               </h4>
               <ul>
                <li>
                  Mathématiques
                                  </li>
                                  <li>
                                    Physique
                                  </li>
                                  <li>
                                    Informatique
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>